streamlit
streamlit-mic-recorder
Pillow
gTTS
openai
google-genai
arabic-reshaper
python-bidi
PyMuPDF
pdfplumber
pydub
ffmpy
google-generativeai
huggingface_hub>=0.28.0
groq
anthropic
python-docx
openpyxl
requests
